# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.AutomaticTelephoneExchangeApplication.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\kanab\source\repos\AutomaticTelephoneExchangeApplication\.idea\.idea.AutomaticTelephoneExchangeApplication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
